<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>Welcome to Server management app </h3>
      <p>Manage your Servers and users</p>
      <button class="btn btn-primary" (click)="onLoadServers()">Load Servers</button>
      <button class="btn btn-primary" (click)="onLoadUsers()">Load Users</button>
      <hr>
      <button class="btn btn-default" (click)="onLogin()">Login</button>
      <button class="btn btn-default" (click)="onLogout()">Logout</button>
      <!--<button class="btn btn-primary" (click)="onLoadServer()">Load Server(5)</button>-->
    </div>
  </div>
</div>
